/* #login {
  background-image: url("../Reitz\ Union.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: 1000px;
} */

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 1px solid #eccece; */
  /* background-color: #fffff0; */
  color: #1976d2;
  border-radius: 12px;
}

a {
  color: #1976d2;
}

input {
  margin-top: 15px;
  border-radius: 5px;
}
